*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}


/* CONTENT */

.content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  padding-left: 29px;
  width: 1172px;
}

.content__list-item:not(:last-child) {
  display: flex;
  padding-bottom: 30px;
}

.content__list {
  position: relative;
  z-index: 0;

  overflow-y: scroll;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;

  height: 298px;
  width: 399px;
}

.content__list::-webkit-scrollbar {
  width: 3px;
}
.content__list::-webkit-scrollbar-track {
  background: #1b1919;
}
.content__list::-webkit-scrollbar-thumb {
  border-radius: 20px;
  border: 3px solid #3f3a3a;
}

.content__details {
  display: flex;
  flex-direction: column;

  width: 400px;
  height: 100%;
  gap: 26px;
}

.content__video-card {
  display: flex;

  width: 394px;
  max-height: 105px;
}

.content__video-card-thumbnail {
  object-fit: cover;
  object-position: 1px top;

  max-width: 194px;
  height: auto;
}

.content__video-card-description-container{
  width: 100%;
  height: 100%;
}
/* RESULT */

.result {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  width: 711px;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
}

.result__video {
  object-fit: cover;
  cursor: pointer;

  width: 100%;
  height: 100%;
}

/* SEARCH */

.search-form {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  padding-top: 20px;

}

.search-form__label {
  width: fit-content;

  appearance: none;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}
.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
}

/* PRELOADER */

.preloader {
  position: fixed;
  z-index: 1;
}

/* TEXT */

.search-form__fieldset-title {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;

}

.title {
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 70.5px;
  text-align: left;
  color: #fff;
}

.title .content__accent {
  font-family: "Oswald", sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 70.5px;
  text-align: left;
  color: #545050;
}

.content__card-link {
  display: block;

  text-decoration: none;
 
  color: #fff;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:active { 
  background: #545050; 
} 
 
.content__card-link:hover { 
  text-decoration: underline; 
} 
 
.content__card-link:focus-visible { 
  outline: 1px solid #fff; 
  outline-offset: 1px; 
 
  margin: 2px; 
}

.content__video-card-title {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
}

.content__video-card-description {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 16.2px;
  text-align: left;  
}

/* FORMS */

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__fieldset, .search-form__fieldset-title {
  border: 0;

  width: 212px;
}

.search-form__textfield {
  appearance: none;

  background-color: transparent;
  border: transparent;

  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;

  color: #fff;

  border-width: 1px;

  width: 225px;

  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:active {
  border: 0;

  outline: 1px solid #fff;
  outline-offset: 0;
}

.search-form__checkbox-list {
  display: flex;
  justify-content: space-between;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  
  vertical-align: middle;
  background-color: transparent;

  border: 1px solid #fff;

  cursor: pointer;

  /* padding-top: 3px; */
  /* padding-right: 3px; */
  margin-bottom: 2px;
  margin-left: 2px;

  width: 19px;
  height: 19px;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::before {
  content: "";
  display: block;

  background-color: #fff;

  margin: auto;
  margin-top: 1px;

  width: 15px;
  height: 15px;
}

/* BUTTONS */

.button {
  cursor: pointer;

  outline: none;

  background-color: transparent;
  border-color: #fff;
  border-width: 2px;

  color: #fff;
  
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
  text-align: center;
  
  width: 194px;
  min-height: 34px;
}

.button:focus {
  outline: none;
}

.button:active {
  background: #545050;
}

.button:hover {
  text-decoration: underline;
}

.button:focus-visible {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;

  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__submit-button {
  margin-top: 17px;
}

.more-button {
  width: 399px;
}

.content__card-link_current {
  background: #545050;
}
